/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0b0b0d;
    background: #0b0b0d url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s;
    text-decoration: none;
}

.logo:hover {
    color: #6a6a6a;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #6a6a6a;
}

.join-btn {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.join-btn:hover {
    background-color: #ffffff;
    color: #0b0b0d;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 40px;
}

.hero-content {
    max-width: 550px;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 0;
    color: #C0B7E8;
}

.hero-content h1 span {
    color: #8C34E8;
}

.hero-content p {
    font-size: 1.2rem;
    color: #C0B7E8;
}

.hero-content p span {
    color: #8C34E8;
}

.button-container {
    position: absolute;
    display: inline-block;
}

.learn-more-btn {
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #8176AF, #C0B7E8);
    color: #343045;
    padding: 10px 20px;
    border-radius: 17px;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    margin-top: 28px;
    border: none;
    overflow: show;
    width: 80px;
    height: 15px;
    line-height: 15px;
}

.learn-more-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.learn-more-btn:hover::before {
    opacity: 1;
}

.button-arrow {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 160px;
    top: 372px;
}